<app-home-background/>

    <section id="creacionMarca" class="service-section">
        <div class="banner">
            <h1>Creación de Marca</h1>
            <p>Transformamos tu visión en una marca única y memorable. Desde el nombre y el logotipo<br> hasta una identidad visual cautivadora, creamos la esencia que hará destacar tu empresa.</p>
        </div>
        <div class="service-details">
            <div class="service-box">
                <i class="material-icons">file_copy</i>
                <h3>Naming</h3>
                <p>Creación del nombre perfecto para tu marca que destaque y sea memorable.</p>
            </div>
            <div class="service-box">
                <i class="material-icons">palette</i>

                <h3>Logotipo</h3>
                <p>Diseño de un logotipo único que represente la identidad de tu empresa.</p>
            </div>
            <div class="service-box">
                <i class="material-icons">style</i>
                <h3>Identidad Gráfica</h3>
                <p>Diseño de una identidad visual coherente que refleje la esencia de tu marca.</p>
            </div>
            <div class="service-box">
                <i class="material-icons">loyalty</i>
                <h3>Branding</h3>
                <p>Desarrollo de estrategias y elementos visuales para fortalecer tu marca.</p>
            </div>
            <div class="service-box">
                <i class="material-icons">videocam</i>
                <h3>Producción Multimedia</h3>
                <p>Creación de contenido multimedia impactante para promover tu marca.</p>
            </div>
        </div>
    </section>

    <section id="desarrolloWeb" class="service-section">
        <div class="banner">
            <h2>Desarrollo Web</h2>
            <p>Potenciamos tu presencia online con Desarrollo Web de vanguardia. Desde Landing Pages impactantes<br> hasta sitios e-commerce y software personalizado, creamos experiencias web que impulsan tu éxito en línea.</p>
        </div>
        <div class="service-details">
            <div class="service-box">
                <i class="material-icons">web</i>
                <h3>Landing Pages</h3>
                <p>Creación de páginas de aterrizaje impactantes para aumentar conversiones.</p>
            </div>
            <div class="service-box"><i class="material-icons">public</i>
                <h3>Sitios Web</h3>
                <p>Diseño y desarrollo de sitios web personalizados y atractivos.</p>
            </div>
            <div class="service-box">
                <i class="material-icons">shopping_cart</i>
                <h3>E-commerce</h3>
                <p>Desarrollo de tiendas en línea para vender tus productos de manera efectiva.</p>
            </div>
            <div class="service-box"><i class="material-icons">search</i>
                <h3>SEO</h3>
                <p>Optimización de sitios web para mejorar su visibilidad en motores de búsqueda.</p>
            </div>
            <div class="service-box"> <i class="material-icons">code</i>
                <h3>Software a Medida</h3>
                <p>Desarrollo de soluciones de software adaptadas a las necesidades específicas de tu empresa.</p>
            </div>
            <div class="service-box"> <i class="material-icons">receipt</i>
                <h3>Software de Facturación</h3>
                <p>Creación de sistemas de facturación eficientes y personalizados.</p>
            </div>
        </div>
    </section>

    <section id="potenciaMarca" class="service-section">
        <div class="banner">
            <h2>Potencia tu Marca</h2>
            <p>Potencia tu marca con estrategias de vanguardia. Desde la creación de contenido impactante hasta campañas<br> publicitarias en redes sociales, Google Ads y TikTok Marketing, te ofrecemos soluciones integrales para destacar en el mundo digital.</p>
        </div>
        <div class="service-details">
            <div class="service-box">
                <h3>Estrategia y Creación de Contenido</h3>
                <p>Desarrollo de estrategias de contenido para destacar en el mercado.</p>
            </div>
            <div class="service-box">
                <h3>Campañas Publicitarias en Redes</h3>
                <p>Diseño e implementación de campañas publicitarias efectivas en redes sociales.</p>
            </div>
            <div class="service-box">
                <h3>Google Ads</h3>
                <p>Gestión de campañas publicitarias en Google para llegar a tu audiencia objetivo.</p>
            </div>
            <div class="service-box">
                <h3>TikTok Marketing</h3>
                <p>Estrategias de marketing efectivas para la plataforma TikTok.</p>
            </div>
            <div class="service-box">
                <h3>Estrategia 360</h3>
                <p>Enfoque integral en estrategias de marketing para un impacto máximo.</p>
            </div>
        </div>
    </section>

    <section id="otrosServicios" class="service-section">
        <div class="banner">
            <h2>Otros Servicios</h2>
            <p>Diseño gráfico publicitario, diseño de empaques, Google My Business y más.</p>
        </div>
        <div class="service-details">
            <div class="service-box">
                <h3>Diseño Gráfico Publicitario</h3>
                <p>Creación de material gráfico atractivo y efectivo para campañas publicitarias.</p>
            </div>
            <div class="service-box">
                <h3>Diseño de Empaques</h3>
                <p>Diseño de envases y embalajes que resalten tus productos en el mercado.</p>
            </div>
            <div class="service-box">
                <h3>Google My Business</h3>
                <p>Optimización y gestión de perfiles en Google My Business para mayor visibilidad.</p>
            </div>
            <div class="service-box">
                <h3>WhatsApp Business</h3>
                <p>Implementación y gestión de cuentas comerciales en WhatsApp.</p>
            </div>
        </div>
    </section>
